<!DOCTYPE>
<html>
  <head>
    <link href="/images/favicon.ico" rel="icon" type="image/ico"/>
    <title>Online Bookstore</title>
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet"/>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
    <script src="/javascripts/angularApp.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
    <link href="/stylesheets/style.css" rel="stylesheet"/>
  </head>
  <body ng-app="onlineBookstore">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <ui-view></ui-view>
      </div>
    </div>
    <script id="/home.html" type="text/ng-template"/>
    <div class="page-header">
      <h1>Online bookstore</h1>
    </div>
    <div ng-repeat="book in books | orderBy: '-upvotes'">
      <span class="glyphicon glyphicon-ok-circle" ng-click="upvote(book)"></span>
      {{ book.title }}
      - upvotes:
      {{ book.upvotes }}
      | - downvotes:
      {{ book.downvotes}}
      - price:
      {{book.price}}
      <span class="glyphicon-euro"></span>
      <span>
        <a href="#/books/{{$index}}">Comments</a>
      </span>
    </div>

    <form ng-submit="addBook()" style="margin:-top:30px;">
      <h3>Add a new book!</h3>
      <div class="form-group">
        <input class="form-control" ng-model="bookTitle" placeholder="Title of the book:" type="text"></input>
      </div>
      <div class="form-group">
        <input class="form-control" ng-model="bookPrice" placeholder="Price of the book:" type="text"></input>
      </div>
      <button class="btn btn-primary" type="submit">Add a book</button>
    </form>
  </script>

  <script id="/books.html" type="text/ng-template"/>
  <div class="page-header">
    </div>
  <div ng-repeat="comment in book.comments | orderBy: '-upvotes'">
    <span class="glyphicon glyphicon-ok-circle" ng-click="upvote(comment)"></span>
    {{comment.upvotes}}
    - by:
    {{comment.author}}
    <span style="font-size:20px; margin-left:10px;">
      {{comment.body}}
      - with rating:
      {{comment.rating}}
    </span>
  </div>
  <form ng-submit="addComment()" style="margin-top:30px">
    <h3>Add a new comment about the book!</h3>
    <div class="form-group">
      <input class="form-control" ng-model="body" placeholder="Add a comment" type="text"></input>
      <input class="form-control" ng-model="rating" placeholder="Add a rating" type="text"></input>
    </div>
    <button class="btn btn-primary" type="submit">Post your comment and rating!</button>
  </form>
</script>

</body>
</html>
